@use './settings.scss'as *;

html {
    --base00: #{$lightBase00};
    --base01: #{$lightBase01};
    --base02: #{$lightBase02};
    --base03: #{$lightBase03};
    --base04: #{$lightBase04};
    --base05: #{$lightBase05};
    --base06: #{$lightBase06};
    --base07: #{$lightBase07};
    --base08: #{$lightBase08};
    --base09: #{$lightBase09};
    --base0A: #{$lightBase0A};
    --base0B: #{$lightBase0B};
    --base0C: #{$lightBase0C};
    --base0D: #{$lightBase0D};
    --base0E: #{$lightBase0E};
    --base0F: #{$lightBase0F};

    --primary-color: #{$lightPrimary};
    --primary-dark-color: #{darken($lightPrimary, 10%)};
    --primary-light-color: #{lighten($lightPrimary, 10%)};
    --primary-lighter-color: #{lighten($lightPrimary, 20%)};
    --primary-lightest-color: #{lighten($lightPrimary, 30%)};

    --page-background-color: #{$lightBase00};
    --page-foreground-color: #{$lightBase05};
    --page-secondary-foreground-color: #{$lightBase04};

    --separator-color: #{$lightBase02};

    --border-radius-large: #{$radiusLarge};
    --border-radius-small: #{$radiusSmall};
    --border-radius-medium: #{$radiusMedium};

    --spacing-large: #{$spacingLarge};
    --spacing-medium: #{$spacingMedium};
    --spacing-small: #{$spacingSmall};

    --box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .1);
    --odd-color: var(--base01);

    --font-family: #{$font-family};
    --font-family-monospace: #{$font-family-monospace};

    --page-font-size: 15.6px;
    --navigation-font-size: 14.4px;
    --code-font-size: 14.4px;
    --title-font-size: 22px;

    --content-ling-height: 27px;
    --content-maxwidth: 1000px;

    --warning-color: #{$lightBase09};
    --warning-color-dark: #{darken($lightBase09, 20%)};
    --warning-color-darker: #{darken($lightBase09, 40%)};
    --note-color: #{$lightBase0A};
    --note-color-dark: #{darken($lightBase0A, 20%)};
    --note-color-darker: #{darken($lightBase0A, 40%)};
    --todo-color: #{$lightBase0D};
    --todo-color-dark: #{darken($lightBase0D, 20%)};
    --todo-color-darker: #{darken($lightBase0D, 40%)};
    --deprecated-color: #{$lightBase03};
    --deprecated-color-dark: #{darken($lightBase03, 20%)};
    --deprecated-color-darker: #{darken($lightBase03, 40%)};
    --bug-color: #{$lightBase08};
    --bug-color-dark: #{darken($lightBase08, 20%)};
    --bug-color-darker: #{darken($lightBase08, 40%)};
    --invariant-color: #{$lightBase0B};
    --invariant-color-dark: #{darken($lightBase0B, 20%)};
    --invariant-color-darker: #{darken($lightBase0B, 40%)};

    --blockquote-background: #{$lightBase01};
    --blockquote-foreground: #{$lightBase04};

    --tablehead--background: #{$lightBase01};
    --tablehead-foreground: var(--page-foreground-color);

    --menu-display: block;
    --menu-focus-foreground: var(--page-background-color);
    --menu-focus-background: var(--primary-color);
    --menu-selected-background: rgba(0, 0, 0, .05);

    --header-background: var(--page-background-color);
    --header-foreground: var(--page-foreground-color);

    --searchbar-background: var(--side-nav-background);
    --searchbar-foreground: var(--page-foreground-color);

    --searchbar-height: 33px;
    --searchbar-width: 210px;

    --code-background: #{$lightBase01};
    --code-foreground: var(--page-foreground-color);

    --fragment-background: #{$lightBase01};
    --fragment-foreground: #{$lightBase05};
    --fragment-keyword: #{$lightBase0E};
    --fragment-keywordtype: #{$lightBase0A};
    --fragment-keywordflow: #{$lightBase09};
    --fragment-token: #{$lightBase0C};
    --fragment-comment: #{$lightBase03};
    --fragment-link: var(--primary-color);
    --fragment-preprocessor: #{$lightBase08};
    --fragment-linenumber-color: #{$lightBase04};
    --fragment-linenumber-background: #{$lightBase02};
    --fragment-linenumber-border: #{$lightBase03};
    --fragment-lineheight: 20px;

    --side-nav-background: #{$lightBase01};
    --side-nav-foreground: var(--page-foreground-color);
    --side-nav-arrow-opacity: 0;
    --side-nav-arrow-over-opacity: 0.9;

    --tree-item-height: 30px;
    --darkmode-toggle-button-icon: '☀️'
}

@media (prefers-color-scheme: dark) {
    html:not(.light-mode) {
        color-scheme: dark;
        --base00: #{$darkBase00};
        --base01: #{$darkBase01};
        --base02: #{$darkBase02};
        --base03: #{$darkBase03};
        --base04: #{$darkBase04};
        --base05: #{$darkBase05};
        --base06: #{$darkBase06};
        --base07: #{$darkBase07};
        --base08: #{$darkBase08};
        --base09: #{$darkBase09};
        --base0A: #{$darkBase0A};
        --base0B: #{$darkBase0B};
        --base0C: #{$darkBase0C};
        --base0D: #{$darkBase0D};
        --base0E: #{$darkBase0E};
        --base0F: #{$darkBase0F};

        --primary-color: #{$darkPrimary};
        --primary-dark-color: #{lighten($darkPrimary, 10%)};
        --primary-light-color: #{darken($darkPrimary, 10%)};
        --primary-lighter-color: #{darken($darkPrimary, 20%)};
        --primary-lightest-color: #{darken($darkPrimary, 30%)};

        --page-background-color: #{$darkBase00};
        --page-foreground-color: #{$darkBase05};
        --page-secondary-foreground-color: #{$darkBase04};

        --separator-color: #{$darkBase02};

        --warning-color: #{$darkBase09};
        --warning-color-dark: #{lighten($darkBase09, 20%)};
        --warning-color-darker: #{lighten($darkBase09, 40%)};
        --note-color: #{$darkBase0A};
        --note-color-dark: #{lighten($darkBase0A, 20%)};
        --note-color-darker: #{lighten($darkBase0A, 40%)};
        --todo-color: #{$darkBase0D};
        --todo-color-dark: #{lighten($darkBase0D, 20%)};
        --todo-color-darker: #{lighten($darkBase0D, 40%)};
        --deprecated-color: #{$darkBase03};
        --deprecated-color-dark: #{lighten($darkBase03, 20%)};
        --deprecated-color-darker: #{lighten($darkBase03, 40%)};
        --bug-color: #{$darkBase08};
        --bug-color-dark: #{lighten($darkBase08, 20%)};
        --bug-color-darker: #{lighten($darkBase08, 40%)};
        --invariant-color: #{$darkBase0B};
        --invariant-color-dark: #{lighten($darkBase0B, 20%)};
        --invariant-color-darker: #{lighten($darkBase0B, 40%)};

        --blockquote-background: #{$darkBase01};
        --blockquote-foreground: #{$darkBase04};

        --tablehead--background: #{$darkBase01};
        --tablehead-foreground: var(--page-foreground-color);

        --menu-focus-foreground: var(--page-background-color);
        --menu-focus-background: var(--primary-color);

        --header-background: var(--page-background-color);
        --header-foreground: var(--page-foreground-color);

        --searchbar-background: var(--side-nav-background);
        --searchbar-foreground: var(--page-foreground-color);

        --code-background: #{$darkBase01};
        --code-foreground: var(--page-foreground-color);

        --fragment-background: #{$darkBase01};
        --fragment-foreground: #{$darkBase05};
        --fragment-keyword: #{$darkBase0E};
        --fragment-keywordtype: #{$darkBase0A};
        --fragment-keywordflow: #{$darkBase09};
        --fragment-token: #{$darkBase0C};
        --fragment-comment: #{$darkBase03};
        --fragment-link: var(--primary-color);
        --fragment-preprocessor: #{$darkBase08};
        --fragment-linenumber-color: #{$darkBase04};
        --fragment-linenumber-background: #{$darkBase02};
        --fragment-linenumber-border: #{$darkBase03};

        --side-nav-background: #{$darkBase01};
        --side-nav-foreground: var(--page-foreground-color);

        --darkmode-toggle-button-icon: '🌛';
    }
}

html.dark-mode {
    color-scheme: dark;
    --base00: #{$darkBase00};
    --base01: #{$darkBase01};
    --base02: #{$darkBase02};
    --base03: #{$darkBase03};
    --base04: #{$darkBase04};
    --base05: #{$darkBase05};
    --base06: #{$darkBase06};
    --base07: #{$darkBase07};
    --base08: #{$darkBase08};
    --base09: #{$darkBase09};
    --base0A: #{$darkBase0A};
    --base0B: #{$darkBase0B};
    --base0C: #{$darkBase0C};
    --base0D: #{$darkBase0D};
    --base0E: #{$darkBase0E};
    --base0F: #{$darkBase0F};

    --primary-color: #{$darkPrimary};
    --primary-dark-color: #{lighten($darkPrimary, 10%)};
    --primary-light-color: #{darken($darkPrimary, 10%)};
    --primary-lighter-color: #{darken($darkPrimary, 20%)};
    --primary-lightest-color: #{darken($darkPrimary, 30%)};

    --page-background-color: #{$darkBase00};
    --page-foreground-color: #{$darkBase05};
    --page-secondary-foreground-color: #{$darkBase04};

    --separator-color: #{$darkBase02};

    --warning-color: #{$darkBase09};
    --warning-color-dark: #{lighten($darkBase09, 20%)};
    --warning-color-darker: #{lighten($darkBase09, 40%)};
    --note-color: #{$darkBase0A};
    --note-color-dark: #{lighten($darkBase0A, 20%)};
    --note-color-darker: #{lighten($darkBase0A, 40%)};
    --todo-color: #{$darkBase0D};
    --todo-color-dark: #{lighten($darkBase0D, 20%)};
    --todo-color-darker: #{lighten($darkBase0D, 40%)};
    --deprecated-color: #{$darkBase03};
    --deprecated-color-dark: #{lighten($darkBase03, 20%)};
    --deprecated-color-darker: #{lighten($darkBase03, 40%)};
    --bug-color: #{$darkBase08};
    --bug-color-dark: #{lighten($darkBase08, 20%)};
    --bug-color-darker: #{lighten($darkBase08, 40%)};
    --invariant-color: #{$darkBase0B};
    --invariant-color-dark: #{lighten($darkBase0B, 20%)};
    --invariant-color-darker: #{lighten($darkBase0B, 40%)};

    --blockquote-background: #{$darkBase01};
    --blockquote-foreground: #{$darkBase04};

    --tablehead--background: #{$darkBase01};
    --tablehead-foreground: var(--page-foreground-color);

    --menu-focus-foreground: var(--page-background-color);
    --menu-focus-background: var(--primary-color);

    --header-background: var(--page-background-color);
    --header-foreground: var(--page-foreground-color);

    --searchbar-background: var(--side-nav-background);
    --searchbar-foreground: var(--page-foreground-color);

    --code-background: #{$darkBase01};
    --code-foreground: var(--page-foreground-color);

    --fragment-background: #{$darkBase01};
    --fragment-foreground: #{$darkBase05};
    --fragment-keyword: #{$darkBase0E};
    --fragment-keywordtype: #{$darkBase0A};
    --fragment-keywordflow: #{$darkBase09};
    --fragment-token: #{$darkBase0C};
    --fragment-comment: #{$darkBase03};
    --fragment-link: var(--primary-color);
    --fragment-preprocessor: #{$darkBase08};
    --fragment-linenumber-color: #{$darkBase04};
    --fragment-linenumber-background: #{$darkBase02};
    --fragment-linenumber-border: #{$darkBase03};

    --side-nav-background: #{$darkBase01};
    --side-nav-foreground: var(--page-foreground-color);

    --darkmode-toggle-button-icon: '🌛';
}

@media screen and (max-width: 767px) {
    html {
        --page-font-size: 16px;
        --navigation-font-size: 16px;
        --code-font-size: 15px;
        /* affects code, fragment */
        --title-font-size: 22px;
    }
}

body {
    color: var(--page-foreground-color);
    background-color: var(--page-background-color);
    font-size: var(--page-font-size);
}

body,
table,
div,
p,
dl,
#nav-tree .label,
.title,
.sm-dox a,
.sm-dox a:hover,
.sm-dox a:focus,
#projectname,
.SelectItem,
#MSearchField,
.navpath li.navelem a,
.navpath li.navelem a:hover {
    font-family: var(--font-family);
}

h1,
h2,
h3,
h4,
h5 {
    margin-top: .9em;
    font-weight: 600;
    line-height: initial;
}

p,
div,
table,
dl {
    font-size: var(--page-font-size);
}

a:link,
a:visited,
a:hover,
a:focus,
a:active {
    color: var(--primary-color) !important;
    font-weight: 500;
}

/*
 Title and top navigation
 */

#top {
    background: var(--header-background);
    border-bottom: 1px solid var(--separator-color);
}

@media screen and (min-width: 768px) {
    #top {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
}

#main-nav {
    flex-grow: 5;
    padding: var(--spacing-small) var(--spacing-medium);
}

#titlearea {
    width: auto;
    padding: var(--spacing-medium) var(--spacing-large);
    background: none;
    color: var(--header-foreground);
    border-bottom: none;
}

@media screen and (max-width: 767px) {
    #titlearea {
        padding-bottom: var(--spacing-small);
    }
}

#titlearea table tbody tr {
    height: auto !important;
}

#projectname {
    font-size: var(--title-font-size);
    font-weight: 600;
}

#projectnumber {
    font-family: inherit;
    font-size: 60%;
}

#projectbrief {
    font-family: inherit;
    font-size: 80%;
}

#projectlogo {
    vertical-align: middle;
}

#projectlogo img {
    max-height: calc(var(--title-font-size) * 2);
    margin-right: var(--spacing-small);
}

.sm-dox,
.tabs,
.tabs2,
.tabs3 {
    background: none;
    padding: 0;
}

.tabs,
.tabs2,
.tabs3 {
    border-bottom: 1px solid var(--separator-color);
    margin-bottom: -1px;
}

@media screen and (max-width: 767px) {
    .sm-dox a span.sub-arrow {
        background: var(--code-background);
    }
}

@media screen and (min-width: 768px) {

    .sm-dox li,
    .tablist li {
        display: var(--menu-display);
    }

    .sm-dox a span.sub-arrow {
        border-color: var(--header-foreground) transparent transparent transparent;
    }

    .sm-dox a:hover span.sub-arrow {
        border-color: var(--menu-focus-foreground) transparent transparent transparent;
    }

    .sm-dox ul a span.sub-arrow {
        border-color: transparent transparent transparent var(--page-foreground-color);
    }

    .sm-dox ul a:hover span.sub-arrow {
        border-color: transparent transparent transparent var(--menu-focus-foreground);
    }
}

.sm-dox ul {
    background: var(--page-background-color);
    box-shadow: var(--box-shadow);
    border: 1px solid var(--separator-color);
    border-radius: var(--border-radius-medium) !important;
    padding: var(--spacing-small);
    animation: ease-out 150ms slideInMenu;
}

@keyframes slideInMenu {
    from {
        opacity: 0;
        transform: translate(0px, -2px);
    }

    to {
        opacity: 1;
        transform: translate(0px, 0px);
    }
}

.sm-dox ul a {
    color: var(--page-foreground-color) !important;
    background: var(--page-background-color);
    font-size: var(--navigation-font-size);
}

.sm-dox>li>ul:after {
    border-bottom-color: var(--page-background-color) !important;
}

.sm-dox>li>ul:before {
    border-bottom-color: var(--separator-color) !important;
}

.sm-dox ul a:hover,
.sm-dox ul a:active,
.sm-dox ul a:focus {
    font-size: var(--navigation-font-size) !important;
    color: var(--menu-focus-foreground) !important;
    text-shadow: none;
    background-color: var(--menu-focus-background);
    border-radius: var(--border-radius-small) !important;
}

.sm-dox a,
.sm-dox a:focus,
.tablist li,
.tablist li a,
.tablist li.current a {
    text-shadow: none;
    background: transparent;
    background-image: none !important;
    color: var(--header-foreground) !important;
    font-weight: normal;
    font-size: var(--navigation-font-size);
}

.sm-dox a:focus {
    outline: auto;
}

.sm-dox a:hover,
.sm-dox a:active,
.tablist li a:hover {
    text-shadow: none;
    font-weight: normal;
    background: var(--menu-focus-background);
    color: var(--menu-focus-foreground) !important;
    border-radius: var(--border-radius-small) !important;
    font-size: var(--navigation-font-size);
}

.tablist li.current {
    border-radius: var(--border-radius-small);
    background: var(--menu-selected-background);
}

.tablist li {
    margin: var(--spacing-small) 0 var(--spacing-small) var(--spacing-small);
}

.tablist a {
    padding: 0 var(--spacing-large);
}


/*
 Search box
 */

#MSearchBox {
    height: var(--searchbar-height);
    background: var(--searchbar-background);
    border-radius: var(--searchbar-height);
    border: 1px solid var(--separator-color);
    overflow: hidden;
    width: var(--searchbar-width);
    position: relative;
    box-shadow: none;
    display: block;
    margin-top: 0;
}

.left #MSearchSelect {
    left: 0;
}

.tabs .left #MSearchSelect {
    padding-left: 0;
}

.tabs #MSearchBox {
    position: absolute;
    right: var(--spacing-medium);
}

@media screen and (max-width: 767px) {
    .tabs #MSearchBox {
        position: relative;
        right: 0;
        margin-left: var(--spacing-medium);
        margin-top: 0;
    }
}

#MSearchSelectWindow,
#MSearchResultsWindow {
    z-index: 9999;
}

#MSearchBox.MSearchBoxActive {
    border-color: var(--primary-color);
    box-shadow: inset 0 0 0 1px var(--primary-color);
}

#main-menu>li:last-child {
    margin-right: 0;
}

@media screen and (max-width: 767px) {
    #main-menu>li:last-child {
        height: 50px;
    }
}

#MSearchField {
    font-size: var(--navigation-font-size);
    height: calc(var(--searchbar-height) - 2px);
    background: transparent;
    width: calc(var(--searchbar-width) - 64px);
}

.MSearchBoxActive #MSearchField {
    color: var(--searchbar-foreground);
}

#MSearchSelect {
    top: calc(calc(var(--searchbar-height) / 2) - 11px);
}

.left #MSearchSelect {
    padding-left: 8px;
}

#MSearchBox span.left,
#MSearchBox span.right {
    background: none;
}

#MSearchBox span.right {
    padding-top: calc(calc(var(--searchbar-height) / 2) - 12px);
    position: absolute;
    right: var(--spacing-small);
}

.tabs #MSearchBox span.right {
    top: calc(calc(var(--searchbar-height) / 2) - 12px);
}

@keyframes slideInSearchResults {
    from {
        opacity: 0;
        transform: translate(0, 15px);
    }

    to {
        opacity: 1;
        transform: translate(0, 20px);
    }
}

#MSearchResultsWindow {
    left: auto !important;
    right: var(--spacing-medium);
    border-radius: var(--border-radius-large);
    border: 1px solid var(--separator-color);
    transform: translate(0, 20px);
    box-shadow: var(--box-shadow);
    animation: ease-out 280ms slideInSearchResults;
    background: var(--page-background-color);
}

iframe#MSearchResults {
    margin: 4px;
}

iframe {
    color-scheme: normal;
}

@media (prefers-color-scheme: dark) {
    html:not(.light-mode) iframe#MSearchResults {
        filter: #{'invert()'}() hue-rotate(180deg);
    }
}

html.dark-mode iframe#MSearchResults {
    filter: #{'invert()'}() hue-rotate(180deg);
}

#MSearchSelectWindow {
    border: 1px solid var(--separator-color);
    border-radius: var(--border-radius-medium);
    box-shadow: var(--box-shadow);
    background: var(--page-background-color);
}

#MSearchSelectWindow a.SelectItem {
    font-size: var(--navigation-font-size);
    line-height: var(--content-line-height);
    margin: 0 var(--spacing-small);
    border-radius: var(--border-radius-small);
    color: var(--page-foreground-color) !important;
    font-weight: normal;
}

#MSearchSelectWindow a.SelectItem:hover {
    background: var(--menu-focus-background);
    color: var(--menu-focus-foreground) !important;
}

@media screen and (max-width: 767px) {
    #MSearchBox {
        margin-top: var(--spacing-medium);
        margin-bottom: var(--spacing-medium);
        width: calc(100vw - 30px);
    }

    #main-menu>li:last-child {
        float: none !important;
    }

    #MSearchField {
        width: calc(100vw - 110px);
    }

    @keyframes slideInSearchResultsMobile {
        from {
            opacity: 0;
            transform: translate(0, 15px);
        }

        to {
            opacity: 1;
            transform: translate(0, 20px);
        }
    }

    #MSearchResultsWindow {
        left: var(--spacing-medium) !important;
        right: var(--spacing-medium);
        overflow: auto;
        transform: translate(0, 20px);
        animation: ease-out 280ms slideInSearchResultsMobile;
    }

    /*
     * Overwrites for fixing the searchbox on mobile in doxygen 1.9.2
     */
    label.main-menu-btn~#searchBoxPos1 {
        top: 3px !important;
        right: 6px !important;
        left: 45px;
        display: flex;
    }

    label.main-menu-btn~#searchBoxPos1>#MSearchBox {
        margin-top: 0;
        margin-bottom: 0;
        flex-grow: 2;
        float: left;
    }
}

/*
 Tree view
 */

#side-nav {
    padding: 0 !important;
    background: var(--side-nav-background);
}

@media screen and (max-width: 767px) {
    #side-nav {
        display: none;
    }

    #doc-content {
        margin-left: 0 !important;
        height: auto !important;
        padding-bottom: calc(2 * var(--spacing-large));
    }
}

#nav-tree {
    background: transparent;
}

#nav-tree .label {
    font-size: var(--navigation-font-size);
}

#nav-tree .item {
    height: var(--tree-item-height);
    line-height: var(--tree-item-height);
}

#nav-sync {
    top: 12px !important;
    right: 12px;
}

#nav-tree .selected {
    text-shadow: none;
    background-image: none;
    background-color: transparent;
    box-shadow: inset 4px 0 0 0 var(--primary-color);
}

#nav-tree a {
    color: var(--side-nav-foreground) !important;
    font-weight: normal;
}

#nav-tree a:focus {
    outline-style: auto;
}

#nav-tree .arrow {
    opacity: var(--side-nav-arrow-opacity);
}

.arrow {
    color: inherit;
    cursor: pointer;
    font-size: 45%;
    vertical-align: middle;
    margin-right: 2px;
    font-family: serif;
    height: auto;
    text-align: right;
}

#nav-tree div.item:hover .arrow,
#nav-tree a:focus .arrow {
    opacity: var(--side-nav-arrow-hover-opacity);
}

#nav-tree .selected a {
    color: var(--primary-color) !important;
    font-weight: bolder;
    font-weight: 600;
}

.ui-resizable-e {
    background: var(--separator-color);
    width: 1px;
}

/*
 Contents
 */

div.header {
    border-bottom: 1px solid var(--separator-color);
    background-color: var(--page-background-color);
    background-image: none;
}

div.contents,
div.header .title,
div.header .summary {
    max-width: var(--content-maxwidth);
}

div.contents,
div.header .title {
    line-height: initial;
    margin: calc(var(--spacing-medium) + .2em) auto var(--spacing-medium) auto;
}

div.header .summary {
    margin: var(--spacing-medium) auto 0 auto;
}

div.headertitle {
    padding: 0;
}

div.header .title {
    font-weight: 600;
    font-size: 210%;
    padding: var(--spacing-medium) var(--spacing-large);
    word-break: break-word;
}

div.header .summary {
    width: auto;
    display: block;
    float: none;
    padding: 0 var(--spacing-large);
}

td.memSeparator {
    border-color: var(--separator-color);
}

.mdescLeft,
.mdescRight,
.memItemLeft,
.memItemRight,
.memTemplItemLeft,
.memTemplItemRight,
.memTemplParams {
    background: var(--code-background);
}

.mdescRight {
    color: var(--page-secondary-foreground-color);
}

span.mlabel {
    background: var(--primary-color);
    border: none;
    padding: 4px 9px;
    border-radius: 12px;
    margin-right: var(--spacing-medium);
}

span.mlabel:last-of-type {
    margin-right: 2px;
}

div.contents {
    padding: 0 var(--spacing-large);
}

div.contents p,
div.contents li {
    line-height: var(--content-line-height);
}

div.contents div.dyncontent {
    margin: var(--spacing-medium) 0;
}

@media (prefers-color-scheme: dark) {

    html:not(.light-mode) div.contents div.dyncontent img,
    html:not(.light-mode) div.contents center img,
    html:not(.light-mode) div.contents table img,
    html:not(.light-mode) div.contents div.dyncontent iframe,
    html:not(.light-mode) div.contents center iframe,
    html:not(.light-mode) div.contents table iframe {
        filter: hue-rotate(180deg) #{'invert()'}();
    }
}

html.dark-mode div.contents div.dyncontent img,
html.dark-mode div.contents center img,
html.dark-mode div.contents table img,
html.dark-mode div.contents div.dyncontent iframe,
html.dark-mode div.contents center iframe,
html.dark-mode div.contents table iframe {
    filter: hue-rotate(180deg) #{'invert()'}();
}

h2.groupheader {
    border-bottom: 1px solid var(--separator-color);
    color: var(--page-foreground-color);
}

blockquote {
    padding: var(--spacing-small) var(--spacing-medium);
    background: var(--blockquote-background);
    color: var(--blockquote-foreground);
    border-left: 2px solid var(--blockquote-foreground);
    margin: 0;
}

blockquote p {
    margin: var(--spacing-small) 0 var(--spacing-medium) 0;
}

.paramname {
    font-weight: 600;
    color: var(--primary-dark-color);
}

.glow {
    text-shadow: 0 0 15px var(--primary-light-color) !important;
}

.alphachar a {
    color: var(--page-foreground-color);
}

/*
 Table of Contents
 */

div.toc {
    background-color: var(--side-nav-background);
    border: 1px solid var(--separator-color);
    border-radius: var(--border-radius-medium);
    box-shadow: var(--box-shadow);
    padding: 0 var(--spacing-large);
    margin: 0 0 var(--spacing-medium) var(--spacing-medium);
}

div.toc h3 {
    color: var(--side-nav-foreground);
    font-size: var(--navigation-font-size);
    margin: var(--spacing-large) 0;
}

div.toc li {
    font-size: var(--navigation-font-size);
    padding: 0;
    background: none;
}

div.toc li:before {
    content: '↓';
    font-weight: 800;
    font-family: var(--font-family);
    margin-right: var(--spacing-small);
    color: var(--side-nav-foreground);
    opacity: .4;
}

div.toc ul li.level1 {
    margin: 0;
}

div.toc ul li.level2,
div.toc ul li.level3 {
    margin-top: 0;
}


@media screen and (max-width: 767px) {
    div.toc {
        float: none;
        width: auto;
        margin: 0 0 var(--spacing-medium) 0;
    }
}

/*
 Code & Fragments
 */

code,
div.fragment,
pre.fragment {
    border-radius: var(--border-radius-small);
    border: none;
    overflow: hidden;
}

code {
    display: inline;
    background: var(--code-background);
    color: var(--code-foreground);
    padding: 2px 6px;
    word-break: break-word;
}

div.fragment,
pre.fragment {
    margin: var(--spacing-medium) 0;
    padding: 14px 16px;
    background: var(--fragment-background);
    color: var(--fragment-foreground);
    overflow-x: auto;
}

@media screen and (max-width: 767px) {

    div.fragment,
    pre.fragment {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .contents>div.fragment,
    .textblock>div.fragment,
    .textblock>pre.fragment {
        margin: var(--spacing-medium) calc(0px - var(--spacing-large));
        border-radius: 0;
    }

    .textblock li>.fragment {
        margin: var(--spacing-medium) calc(0px - var(--spacing-large));
    }

    .memdoc li>.fragment {
        margin: var(--spacing-medium) calc(0px - var(--spacing-medium));
    }

    .memdoc>div.fragment,
    .memdoc>pre.fragment,
    dl dd>div.fragment,
    dl dd pre.fragment {
        margin: var(--spacing-medium) calc(0px - var(--spacing-medium));
        border-radius: 0;
    }
}

code,
code a,
pre.fragment,
div.fragment,
div.fragment .line,
div.fragment span,
div.fragment .line a,
div.fragment .line span {
    font-family: var(--font-family-monospace);
    font-size: var(--code-font-size) !important;
}

div.line:after {
    margin-right: var(--spacing-medium);
}

div.fragment .line,
pre.fragment {
    white-space: pre;
    word-wrap: initial;
    line-height: var(--fragment-lineheight);
}

div.fragment span.keyword {
    color: var(--fragment-keyword);
}

div.fragment span.keywordtype {
    color: var(--fragment-keywordtype);
}

div.fragment span.keywordflow {
    color: var(--fragment-keywordflow);
}

div.fragment span.stringliteral {
    color: var(--fragment-token)
}

div.fragment span.comment {
    color: var(--fragment-comment);
}

div.fragment a.code {
    color: var(--fragment-link) !important;
}

div.fragment span.preprocessor {
    color: var(--fragment-preprocessor);
}

div.fragment span.lineno {
    display: inline-block;
    width: 27px;
    border-right: none;
    background: var(--fragment-linenumber-background);
    color: var(--fragment-linenumber-color);
}

div.fragment span.lineno a {
    background: none;
    color: var(--fragment-link) !important;
}

div.fragment .line:first-child .lineno {
    box-shadow: -999999px 0px 0 999999px var(--fragment-linenumber-background), -999998px 0px 0 999999px var(--fragment-linenumber-border);
}

/*
 dl warning, attention, note, deprecated, bug, ...
 */

dl.warning,
dl.attention,
dl.note,
dl.deprecated,
dl.bug,
dl.invariant,
dl.pre,
dl.todo,
dl.remark {
    padding: var(--spacing-medium);
    margin: var(--spacing-medium) 0;
    color: var(--page-background-color);
    overflow: hidden;
    margin-left: 0;
    border-radius: var(--border-radius-small);
}

dl.section dd {
    margin-bottom: 2px;
}

dl.warning,
dl.attention {
    background: var(--warning-color);
    border-left: 8px solid var(--warning-color-dark);
    color: var(--warning-color-darker);
}

dl.warning dt,
dl.attention dt {
    color: var(--warning-color-dark);
}

dl.note,
dl.remark {
    background: var(--note-color);
    border-left: 8px solid var(--note-color-dark);
    color: var(--note-color-darker);
}

dl.note dt,
dl.remark dt {
    color: var(--note-color-dark);
}

dl.todo {
    background: var(--todo-color);
    border-left: 8px solid var(--todo-color-dark);
    color: var(--todo-color-darker);
}

dl.todo dt {
    color: var(--todo-color-dark);
}

dl.bug {
    background: var(--bug-color);
    border-left: 8px solid var(--bug-color-dark);
    color: var(--bug-color-darker);
}

dl.bug dt a {
    color: var(--bug-color-dark) !important;
}

dl.deprecated {
    background: var(--deprecated-color);
    border-left: 8px solid var(--deprecated-color-dark);
    color: var(--deprecated-color-darker);
}

dl.deprecated dt a {
    color: var(--deprecated-color-dark) !important;
}

dl.section dd,
dl.bug dd,
dl.deprecated dd,
dl.todo dd {
    margin-inline-start: 0px;
}

dl.invariant,
dl.pre {
    background: var(--invariant-color);
    border-left: 8px solid var(--invariant-color-dark);
    color: var(--invariant-color-darker);
}

/*
 memitem
 */

div.memdoc,
div.memproto,
h2.memtitle {
    box-shadow: none;
    background-image: none;
    border: none;
}

div.memdoc {
    padding: 0 var(--spacing-medium);
    background: var(--page-background-color);
}

h2.memtitle,
div.memitem {
    border: 1px solid var(--separator-color);
}

div.memproto,
h2.memtitle {
    background: var(--code-background);
    text-shadow: none;
}

h2.memtitle {
    font-weight: 500;
    font-family: monospace, fixed;
    border-bottom: none;
    border-top-left-radius: var(--border-radius-medium);
    border-top-right-radius: var(--border-radius-medium);
    word-break: break-all;
}

a:target+h2.memtitle,
a:target+h2.memtitle+div.memitem {
    border-color: var(--primary-light-color);
}

a:target+h2.memtitle {
    box-shadow: -3px -3px 3px 0 var(--primary-lightest-color), 3px -3px 3px 0 var(--primary-lightest-color);
}

a:target+h2.memtitle+div.memitem {
    box-shadow: 0 0 10px 0 var(--primary-lighter-color);
}

div.memitem {
    border-top-right-radius: var(--border-radius-medium);
    border-bottom-right-radius: var(--border-radius-medium);
    border-bottom-left-radius: var(--border-radius-medium);
    overflow: hidden;
    display: block !important;
}

div.memdoc {
    border-radius: 0;
}

div.memproto {
    border-radius: 0 var(--border-radius-small) 0 0;
    overflow: auto;
    border-bottom: 1px solid var(--separator-color);
    padding: var(--spacing-medium);
    margin-bottom: -1px;
}

div.memtitle {
    border-top-right-radius: var(--border-radius-medium);
    border-top-left-radius: var(--border-radius-medium);
}

div.memproto table.memname {
    font-family: monospace, fixed;
    color: var(--page-foreground-color);
}

table.mlabels,
table.mlabels>tbody {
    display: block;
}

td.mlabels-left {
    width: auto;
}

table.mlabels>tbody>tr:first-child {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.memname,
.memitem span.mlabels {
    margin: 0
}

/*
 reflist
 */

dl.reflist {
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius-medium);
    border: 1px solid var(--separator-color);
    overflow: hidden;
    padding: 0;
}


dl.reflist dt,
dl.reflist dd {
    box-shadow: none;
    text-shadow: none;
    background-image: none;
    border: none;
    padding: 12px;
}


dl.reflist dt {
    font-weight: 500;
    border-radius: 0;
    background: var(--code-background);
    border-bottom: 1px solid var(--separator-color);
    color: var(--page-foreground-color)
}


dl.reflist dd {
    background: none;
}

/*
 Table
 */

table.markdownTable,
table.fieldtable {
    width: 100%;
    border: 1px solid var(--separator-color);
    margin: var(--spacing-medium) 0;
}

table.fieldtable {
    box-shadow: none;
    border-radius: var(--border-radius-small);
}

th.markdownTableHeadLeft,
th.markdownTableHeadRight,
th.markdownTableHeadCenter,
th.markdownTableHeadNone {
    background: var(--tablehead-background);
    color: var(--tablehead-foreground);
    font-weight: 600;
    font-size: var(--page-font-size);
}

table.markdownTable td,
table.markdownTable th,
table.fieldtable dt {
    border: 1px solid var(--separator-color);
    padding: var(--spacing-small) var(--spacing-medium);
}

table.fieldtable th {
    font-size: var(--page-font-size);
    font-weight: 600;
    background-image: none;
    background-color: var(--tablehead-background);
    color: var(--tablehead-foreground);
    border-bottom: 1px solid var(--separator-color);
}

.fieldtable td.fieldtype,
.fieldtable td.fieldname {
    border-bottom: 1px solid var(--separator-color);
    border-right: 1px solid var(--separator-color);
}

.fieldtable td.fielddoc {
    border-bottom: 1px solid var(--separator-color);
}

.memberdecls td.glow,
.fieldtable tr.glow {
    background-color: var(--primary-light-color);
    box-shadow: 0 0 15px var(--primary-lighter-color);
}

table.memberdecls {
    display: block;
    overflow-x: auto;
    overflow-y: hidden;
}


/*
 Horizontal Rule
 */

hr {
    margin-top: var(--spacing-large);
    margin-bottom: var(--spacing-large);
    border-top: 1px solid var(--separator-color);
}

.contents hr {
    box-shadow: var(--content-maxwidth) 0 0 0 var(--separator-color), calc(0px - var(--content-maxwidth)) 0 0 0 var(--separator-color);
}

.contents img,
.contents .center,
.contents center {
    max-width: 100%;
    overflow: scroll;
}

/*
 Directories
 */
div.directory {
    border-top: 1px solid var(--separator-color);
    border-bottom: 1px solid var(--separator-color);
    width: auto;
}

table.directory {
    font-family: var(--font-family);
    font-size: var(--page-font-size);
    font-weight: normal;
}

.directory td.entry {
    padding: var(--spacing-small);
    display: flex;
    align-items: center;
}

.directory tr.even {
    background-color: var(--odd-color);
}

.icona {
    width: auto;
    height: auto;
    margin: 0 var(--spacing-small);
}

.icon {
    background: var(--primary-color);
    width: 18px;
    height: 18px;
    line-height: 18px;
}

.iconfopen,
.icondoc,
.iconfclosed {
    background-position: center;
    margin-bottom: 0;
}

.icondoc {
    filter: saturate(0.2);
}

@media screen and (max-width: 767px) {
    div.directory {
        margin-left: calc(0px - var(--spacing-medium));
        margin-right: calc(0px - var(--spacing-medium));
    }
}

@media (prefers-color-scheme: dark) {

    html:not(.light-mode) .iconfopen,
    html:not(.light-mode) .iconfclosed {
        filter: hue-rotate(180deg) #{'invert()'}();
    }
}

html.dark-mode .iconfopen,
html.dark-mode .iconfclosed {
    filter: hue-rotate(180deg) #{'invert()'}();
}

/*
 Class list
 */

.classindex dl.odd {
    background: var(--odd-color);
    border-radius: var(--border-radius-small);
}

@media screen and (max-width: 767px) {
    .classindex {
        margin: 0 calc(0px - var(--spacing-small));
    }
}

/*
  Footer and nav-path
 */

#nav-path {
    margin-bottom: -1px;
    width: 100%;
}

#nav-path ul {
    background-image: none;
    background: var(--page-background-color);
    border: none;
    border-top: 1px solid var(--separator-color);
    border-bottom: 1px solid var(--separator-color);
    font-size: var(--navigation-font-size);
}

img.footer {
    width: 60px;
}

.navpath li.footer {
    color: var(--page-secondary-foreground-color);
}

address.footer {
    margin-bottom: var(--spacing-large);
}

#nav-path li.navelem {
    background-image: none;
    display: flex;
    align-items: center;
}

.navpath li.navelem a {
    text-shadow: none;
    display: inline-block;
    color: var(--primary-color) !important;
}

.navpath li.navelem b {
    color: var(--primary-dark-color);
    font-weight: 500;
}

li.navelem {
    padding: 0;
    margin-left: -8px;
}

li.navelem:first-child {
    margin-left: var(--spacing-large);
}

li.navelem:first-child:before {
    display: none;
}

#nav-path li.navelem:after {
    content: '';
    border: 5px solid var(--page-background-color);
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
    transform: scaleY(4.2);
    z-index: 10;
    margin-left: 6px;
}

#nav-path li.navelem:before {
    content: '';
    border: 5px solid var(--separator-color);
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
    transform: scaleY(3.2);
    margin-right: var(--spacing-small);
}

.navpath li.navelem a:hover {
    color: var(--primary-color);
}

/*
  Optional Dark mode toggle button
*/

doxygen-awesome-dark-mode-toggle {
    display: inline-block;
    margin: 0 0 0 var(--spacing-small);
    padding: 0;
    width: var(--searchbar-height);
    height: var(--searchbar-height);
    background: none;
    border: none;
    font-size: 23px;
    border-radius: var(--border-radius-medium);
    vertical-align: middle;
    text-align: center;
    line-height: var(--searchbar-height);
}

doxygen-awesome-dark-mode-toggle:hover {
    background: var(--separator-color);
}

doxygen-awesome-dark-mode-toggle:after {
    content: var(--darkmode-toggle-button-icon)
}