@mixin icon($url, $width, $height) {
    display: inline-block;
    width: $width;
    height: $height;
    -webkit-mask: url($url) no-repeat 100% 100%;
    mask: url($url) no-repeat 100% 100%;
    -webkit-mask-size: cover;
    mask-size: cover;
}

.github-corner svg {
    fill: var(--primary-light-color);
    color: var(--page-background-color);
    width: 72px;
    height: 72px;
}

@media screen and (max-width: 767px) {
    .github-corner svg {
        width: 55px;
        height: 55px;
    }

    #projectnumber {
        margin-right: 22px;
    }
}

.directory .levels span {
    color: var(--primary-color);
}

.contents img,
.contents .center,
.contents center {
    overflow: auto;
}

.arrow {
    font-size: 80%;
}

.left #MSearchSelect {
    @include icon("search-solid.svg", 1em, 1em);
    background-color: var(--page-secondary-foreground-color);
    background-image: none;
    margin-left: 10px;
}

.right #MSearchCloseImg {
    @include icon("times-circle-solid.svg", 1em, 1em);
    background-color: var(--page-secondary-foreground-color);
    background-image: none;
    margin-top: 3.5px;
}

.icondoc {
    @include icon("file-alt-solid.svg", 0.75em, 1em);
    filter: none;
    background-color: var(--page-secondary-foreground-color);
    background-image: none;
    margin-right: 2px;
}

.iconfopen {
    @include icon("folder-open-solid.svg", 1.125em, 1em);
    filter: none;
    background-color: var(--primary-color);
    background-image: none;
    margin-right: 2px;
}

.iconfclosed {
    @include icon("folder-solid.svg", 1em, 1em);
    filter: none;
    background-color: var(--primary-color);
    background-image: none;
    margin-right: 2px;
}

iframe#MSearchResults {
    width: 98%;
}

doxygen-awesome-dark-mode-toggle:after {
    @include icon("sun-solid.svg", 1em, 1em);
    content: ' ';
    background-color: var(--primary-color);
    margin-top: 5px;
}

@media (prefers-color-scheme: dark) {
    html:not(.light-mode) doxygen-awesome-dark-mode-toggle:after {
        @include icon("moon-solid.svg", 1em, 1em);
    }
}

html.dark-mode doxygen-awesome-dark-mode-toggle:after {
    @include icon("moon-solid.svg", 1em, 1em);
}

.memberdecls td,
.fieldtable tr {
    -webkit-transition-property: none;
    -webkit-transition-duration: none;
    -moz-transition-property: none;
    -moz-transition-duration: none;
    -ms-transition-property: none;
    -ms-transition-duration: none;
    -o-transition-property: none;
    -o-transition-duration: none;
    transition-property: none;
    transition-duration: none;
}