@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$spacingLarge: 16px;
$spacingMedium: 10px;
$spacingSmall: 5px;

$radiusLarge: 8px;
$radiusMedium: 6px;
$radiusSmall: 4px;

$font-family: -apple-system,
BlinkMacSystemFont,
Segoe UI,
Roboto,
Oxygen,
Ubuntu,
Cantarell,
Fira Sans,
Droid Sans,
Helvetica Neue,
sans-serif;
$font-family-monospace: Iosevka Web,
Fira Code,
source-code-pro,
Menlo,
Monaco,
Consolas,
Courier New,
monospace;

// Light-Theme
$lightBase00: #f8f8f8;
$lightBase01: #e8e8e8;
$lightBase02: #d8d8d8;
$lightBase03: #b8b8b8;
$lightBase04: #585858;
$lightBase05: #383838;
$lightBase06: #282828;
$lightBase07: #181818;
$lightBase08: hsl(2, 54%, 46%);
$lightBase09: hsl(29, 76%, 60%);
$lightBase0A: hsl(36, 97%, 75%);
$lightBase0B: hsl(76, 43%, 57%);
$lightBase0C: hsl(172, 42%, 64%);
$lightBase0D: hsl(196, 46%, 62%);
$lightBase0E: hsl(314, 35%, 64%);
$lightBase0F: hsl(23, 49%, 45%);

// Dark-Theme
$darkBase00: #181818;
$darkBase01: #282828;
$darkBase02: #383838;
$darkBase03: #585858;
$darkBase04: #b8b8b8;
$darkBase05: #d8d8d8;
$darkBase06: #e8e8e8;
$darkBase07: #f8f8f8;
$darkBase08: hsl(2, 54%, 46%);
$darkBase09: hsl(29, 76%, 60%);
$darkBase0A: hsl(36, 97%, 75%);
$darkBase0B: hsl(76, 43%, 57%);
$darkBase0C: hsl(172, 42%, 64%);
$darkBase0D: hsl(196, 46%, 62%);
$darkBase0E: hsl(314, 35%, 64%);
$darkBase0F: hsl(23, 49%, 45%);

$darkPrimary: $darkBase0D;
$lightPrimary: $lightBase0D;