@use './settings.scss'as *;

svg {
    --base00: #{$lightBase00};
    --base01: #{$lightBase01};
    --base02: #{$lightBase02};
    --base03: #{$lightBase03};
    --base04: #{$lightBase04};
    --base05: #{$lightBase05};
    --base06: #{$lightBase06};
    --base07: #{$lightBase07};
    --base08: #{$lightBase08};
    --base09: #{$lightBase09};
    --base0A: #{$lightBase0A};
    --base0B: #{$lightBase0B};
    --base0C: #{$lightBase0C};
    --base0D: #{$lightBase0D};
    --base0E: #{$lightBase0E};
    --base0F: #{$lightBase0F};

    --page-background-color: #{$lightBase00};
    --page-foreground-color: #{$lightBase05};
    --page-secondary-foreground-color: #{$lightBase04};

    --font-family: #{$font-family};
    --font-family-monospace: #{$font-family-monospace};

    --font-size: 9px;
}

@media (prefers-color-scheme: dark) {
    svg:not(.light-mode) {
        color-scheme: dark;
        --base00: #{$darkBase00};
        --base01: #{$darkBase01};
        --base02: #{$darkBase02};
        --base03: #{$darkBase03};
        --base04: #{$darkBase04};
        --base05: #{$darkBase05};
        --base06: #{$darkBase06};
        --base07: #{$darkBase07};
        --base08: #{$darkBase08};
        --base09: #{$darkBase09};
        --base0A: #{$darkBase0A};
        --base0B: #{$darkBase0B};
        --base0C: #{$darkBase0C};
        --base0D: #{$darkBase0D};
        --base0E: #{$darkBase0E};
        --base0F: #{$darkBase0F};

        --page-background-color: #{$darkBase00};
        --page-foreground-color: #{$darkBase05};
        --page-secondary-foreground-color: #{$darkBase04};
    }
}

svg.dark-mode {
    color-scheme: dark;
    --base00: #{$darkBase00};
    --base01: #{$darkBase01};
    --base02: #{$darkBase02};
    --base03: #{$darkBase03};
    --base04: #{$darkBase04};
    --base05: #{$darkBase05};
    --base06: #{$darkBase06};
    --base07: #{$darkBase07};
    --base08: #{$darkBase08};
    --base09: #{$darkBase09};
    --base0A: #{$darkBase0A};
    --base0B: #{$darkBase0B};
    --base0C: #{$darkBase0C};
    --base0D: #{$darkBase0D};
    --base0E: #{$darkBase0E};
    --base0F: #{$darkBase0F};

    --page-background-color: #{$darkBase00};
    --page-foreground-color: #{$darkBase05};
    --page-secondary-foreground-color: #{$darkBase04};
}

text {
    font-size: var(--font-size);
    font-family: var(--font-family-monospace);
    fill: var(--page-foreground-color)
}

.base00 {
    stroke: var(--base00);
}

.base01 {
    stroke: var(--base01);
}

.base02 {
    stroke: var(--base02);
}

.base03 {
    stroke: var(--base03);
}

.base04 {
    stroke: var(--base04);
}

.base05 {
    stroke: var(--base05);
}

.base06 {
    stroke: var(--base06);
}

.base07 {
    stroke: var(--base07);
}

.base08 {
    stroke: var(--base08);
}

.base09 {
    stroke: var(--base09);
}

.base0A {
    stroke: var(--base0A);
}

.base0B {
    stroke: var(--base0B);
}

.base0C {
    stroke: var(--base0C);
}

.base0D {
    stroke: var(--base0D);
}

.base0E {
    stroke: var(--base0E);
}

.base0F {
    stroke: var(--base0F);
}

.base00Fill {
    fill: var(--base00);
}

.base01Fill {
    fill: var(--base01);
}

.base02Fill {
    fill: var(--base02);
}

.base03Fill {
    fill: var(--base03);
}

.base04Fill {
    fill: var(--base04);
}

.base05Fill {
    fill: var(--base05);
}

.base06Fill {
    fill: var(--base06);
}

.base07Fill {
    fill: var(--base07);
}

.base08Fill {
    fill: var(--base08);
}

.base09Fill {
    fill: var(--base09);
}

.base0AFill {
    fill: var(--base0A);
}

.base0BFill {
    fill: var(--base0B);
}

.base0CFill {
    fill: var(--base0C);
}

.base0DFill {
    fill: var(--base0D);
}

.base0EFill {
    fill: var(--base0E);
}

.base0FFill {
    fill: var(--base0F);
}